/* public/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

h1 {
    color: inherit;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode form {
    background-color: #444;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button.toggle {
    background-color: #777;
    margin-top: 20px;
}

button.toggle:hover {
    background-color: #555;
}

.result {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .result {
    background-color: #444;
}

.suggestions {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

body.dark-mode .suggestions {
    background-color: #444;
}

.suggestions ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.suggestions li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.suggestions li a:hover {
    background-color: #ddd;
}

body.dark-mode .suggestions li a:hover {
    background-color: #555;
}

nav {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: left;
    position: fixed;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}


body.dark-mode nav {
    background-color: #222;
}
